@page
@model IndexModel
@{
    ViewData["Title"] = "Pace Calculator";
}

<form>
    <div id="c#-pace-calculator" class="container border border-primary rounded p-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Distance</span>
            </div>
            <input id="distance" type="text" class="form-control" asp-for="Distance"/>
            <div class="input-group-append">
                <select asp-for="Units" asp-items="Model.DistanceUnits" class="form-control"></select>
            </div>
        </div>

        <div class="mt-2 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Goal Time</span>
            </div>
            <input type="text" class="form-control" asp-for="GoalTime"/>
        </div>

        <input class="mt-2 btn btn-primary" type="submit" value="Calculate" />

        <div class="p-2 mt-4 p-container border rounded">
            Target pace:
            <span class="rounded bg-secondary">@Html.DisplayFor(targetpace => Model.TargetPace )</span>
            per
            <span class="rounded bg-secondary">@Html.DisplayFor(targetunits => Model.TargetUnits )</span>
        </div>
    </div>
</form>